Repository submariner-io/shipyard, pull requests merged in 2021-07, with the labels that each got.

#593 Bump golangci-lint to 1.41.1
  package/Dockerfile.shipyard-dapper-base
Labels: lint-projects

#604 Add GlobalEgressIP create, retrieve methods
  test/e2e/framework/clusterglobalegressip.go
  test/e2e/framework/globalegressip.go
Labels: globalnet, ready-to-test

#605 Add .gitlint to the linting dapper base image
  package/Dockerfile.shipyard-dapper-base
  package/Dockerfile.shipyard-linting
Labels: lint-projects

#612 Make sure consuming jobs use correct branch
  .github/workflows/consuming.yml
Labels: e2e-projects, lint-projects, unit-projects
