Repository submariner-io/shipyard, pull requests merged in 2022-04, with the labels that each got.

#723 Release multi-arch images
  Makefile.images
  gh-actions/release-images/action.yaml
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/release_images.sh
Labels: release-note-needed, epic:multi-arch, next-version-candidate

#776 Bump golangci-lint to 1.45.2
  package/Dockerfile.shipyard-dapper-base
  test/e2e/framework/framework.go
  test/e2e/framework/gateways.go
  test/e2e/framework/network_pods.go
  test/e2e/framework/services.go
Labels: lint-projects, maintenance

#777 Use unique name for Consuming E2E job
  .github/workflows/consuming.yml
Labels: maintenance

#781 Fix Nginx Image
  scripts/shared/resources/nginx-demo.yaml
  test/e2e/framework/deployments.go
Labels: e2e-projects, backport, maintenance

#783 Automated backport of #781: Fix Nginx Image
  scripts/shared/resources/nginx-demo.yaml
  test/e2e/framework/deployments.go
Labels: e2e-projects, automated-backport

#791 Stop augmenting versions for `deploy-latest`
  Makefile.inc
  scripts/shared/lib/deploy_funcs
  scripts/shared/lib/deploy_operator
Labels: backport

#792 [Backport] Add `simpleserver` for testing
  package/Dockerfile.nettest
  scripts/nettest/simpleserver
  scripts/shared/lib/deploy_funcs
  scripts/shared/resources/nginx-demo.yaml
  test/e2e/framework/deployments.go
Labels: e2e-projects, automated-backport
