Repository submariner-io/shipyard, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @skitt, @mkolesnik

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
go.mod @skitt
go.sum @skitt
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik

Add throughput pods into network_pods for benchmark tests
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87

Add a call to AwaitReady() inside throughput client pod creation
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump MD link check linter 0.6->1.*
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
Owners: @mkolesnik

Remove most e2e framework dependencies on ginkgo
  test/e2e/e2e.go
  test/e2e/framework/framework.go
  test/e2e/framework/ginkgo_framework.go
  test/e2e/framework/services.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump MD link check linter 0.6->1.*
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
Owners: @mkolesnik

Remove most e2e framework dependencies on ginkgo
  test/e2e/e2e.go
  test/e2e/framework/framework.go
  test/e2e/framework/ginkgo_framework.go
  test/e2e/framework/services.go
Owners: @mangelajo, @tpantelis, @Oats87

Add YAML linting, fix errors
  .github/workflows/dco-check.yml
  .github/workflows/e2e-consuming.yml
  .github/workflows/gitlint.yml
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/validate-consuming.yml
  .github/workflows/validations.yml
  .github/workflows/yaml-lint.yml
  .markdownlint.yml
  .yamllint.yml
  scripts/shared/resources/kind-cluster-config.yaml
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Add YAML linting, fix errors
  .github/workflows/dco-check.yml
  .github/workflows/e2e-consuming.yml
  .github/workflows/gitlint.yml
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/validate-consuming.yml
  .github/workflows/validations.yml
  .github/workflows/yaml-lint.yml
  .markdownlint.yml
  .yamllint.yml
  scripts/shared/resources/kind-cluster-config.yaml
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Allow local yamllint
  .github/workflows/yaml-lint.yml
  .yamllint.yml
  Makefile.inc
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Allow local yamllint
  .github/workflows/yaml-lint.yml
  .yamllint.yml
  Makefile.inc
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Stop building images for yamllint
  .github/workflows/yaml-lint.yml
Owners: @mkolesnik

Drop the gitlint.sh script
  Makefile.inc
  scripts/shared/gitlint.sh
Owners: @mkolesnik

Stop building images for yamllint
  .github/workflows/yaml-lint.yml
Owners: @mkolesnik

Add netperf to nettest image
  package/Dockerfile.nettest
Owners: @mkolesnik

Move the Prometheus descriptors so they're shared
  .yamllint.yml
  prometheus/clusterrole.yaml
  scripts/shared/clusters.sh
  scripts/shared/resources/prometheus/bundle.yaml
  scripts/shared/resources/prometheus/clusterrole.yaml
  scripts/shared/resources/prometheus/clusterrolebinding.yaml
  scripts/shared/resources/prometheus/prometheus.yaml
  scripts/shared/resources/prometheus/serviceaccount.yaml
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Update subctl version in base image to 0.6.1
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Update subctl version in base image to 0.6.1
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Move the Prometheus descriptors so they're shared
  .yamllint.yml
  prometheus/clusterrole.yaml
  scripts/shared/clusters.sh
  scripts/shared/resources/prometheus/bundle.yaml
  scripts/shared/resources/prometheus/clusterrole.yaml
  scripts/shared/resources/prometheus/clusterrolebinding.yaml
  scripts/shared/resources/prometheus/prometheus.yaml
  scripts/shared/resources/prometheus/serviceaccount.yaml
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Drop the gitlint.sh script
  Makefile.inc
  scripts/shared/gitlint.sh
Owners: @mkolesnik

Add netperf to nettest image
  package/Dockerfile.nettest
Owners: @mkolesnik

Tweak gitlint rules
  .gitlint
Owners: @mangelajo, @tpantelis, @Oats87

Tweak gitlint rules
  .gitlint
Owners: @mangelajo, @tpantelis, @Oats87

Remove dockerd
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Add latency test pods
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove dockerd
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Fix multi-stage builds, simplify the nettest image
  Makefile.images
  package/Dockerfile.nettest
Owners: @mkolesnik

Fix multi-stage builds, simplify the nettest image
  Makefile.images
  package/Dockerfile.nettest
Owners: @mkolesnik

Add latency test pods
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87

Improve post-mortem output
  scripts/shared/post_mortem.sh
Owners: @mkolesnik

Improve post-mortem output
  scripts/shared/post_mortem.sh
Owners: @mkolesnik

Fix intermittent failures in test_connection
  scripts/shared/deploy.sh
  scripts/shared/lib/deploy_funcs
Owners: @mkolesnik

Remove npm & pip
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Remove containerd
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Remove lto stuff
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Ignore connection check when operator not installed
  scripts/shared/lib/deploy_funcs
Owners: @mkolesnik

Remove lto stuff
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Remove containerd
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Remove npm & pip
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Fix intermittent failures in test_connection (#310)
  scripts/shared/deploy.sh
  scripts/shared/lib/deploy_funcs
Owners: @mkolesnik

Update subctl to v0.7.0-pre0
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik
