Repository submariner-io/shipyard, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @skitt, @mkolesnik

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
go.mod @skitt
go.sum @skitt
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik

Update subctl version in base image to v0.5.0
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Update subctl version in base image to v0.5.0
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Add gingko -v to UT script
  scripts/shared/unit_test.sh
Owners: @mkolesnik

Upgrade to Kubernetes 1.15.7
  go.mod
  go.sum
  scripts/shared/clusters.sh
  scripts/shared/resources/kind-cluster-config.yaml
Owners: @skitt, @mkolesnik

Include iperf3 in nettest image
  package/Dockerfile.nettest
Owners: @mkolesnik

Upgrade to Kubernetes 1.16.4
  go.mod
  go.sum
  scripts/shared/clusters.sh
Owners: @skitt, @mkolesnik

Upgrade to Kubernetes 1.16.4
  go.mod
  go.sum
  scripts/shared/clusters.sh
Owners: @skitt, @mkolesnik

Upgrade to Kubernetes 1.17.0
  go.mod
  go.sum
  scripts/shared/clusters.sh
  scripts/shared/resources/kind-cluster-config.yaml
Owners: @skitt, @mkolesnik

Include iperf3 in nettest image
  package/Dockerfile.nettest
Owners: @mkolesnik

Add gingko -v to UT script
  scripts/shared/unit_test.sh
Owners: @mkolesnik

Upgrade to KIND 0.8.1
  package/Dockerfile.shipyard-dapper-base
Owners: @mkolesnik

Upgrade to Kubernetes 1.16.4
  go.mod
  go.sum
  scripts/shared/clusters.sh
Owners: @skitt, @mkolesnik

Upgrade to Kubernetes 1.17.0
  go.mod
  go.sum
  scripts/shared/clusters.sh
  scripts/shared/resources/kind-cluster-config.yaml
Owners: @skitt, @mkolesnik

Turn the version script into a Makefile snippet
  .github/workflows/e2e-consuming.yaml
  .github/workflows/release.yaml
  .github/workflows/scripts.yaml
  .github/workflows/validations.yaml
  Makefile
  Makefile.inc
  Makefile.versions
  scripts/shared/lib/version
Owners: @mkolesnik

Turn the version script into a Makefile snippet
  .github/workflows/e2e-consuming.yaml
  .github/workflows/release.yaml
  .github/workflows/scripts.yaml
  .github/workflows/validations.yaml
  Makefile
  Makefile.inc
  Makefile.versions
  scripts/shared/lib/version
Owners: @mkolesnik

Add Markdown linting GHA, fix errors
  .github/workflows/md-lint.yml
  .markdownlint.yml
  README.md
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Increase consuming project validations 10m->15m
  .github/workflows/validate-consuming.yaml
Owners: @mkolesnik

Rm goimports validation, now run by golangci-lint
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/validate.sh
Owners: @mkolesnik

Increase consuming project validations 10m->15m
  .github/workflows/validate-consuming.yaml
Owners: @mkolesnik

Rm goimports validation, now run by golangci-lint
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/validate.sh
Owners: @mkolesnik

Deploy Prometheus
  Makefile.inc
  prometheus/bundle.yaml
  prometheus/clusterrole.yaml
  prometheus/clusterrolebinding.yaml
  prometheus/prometheus.yaml
  prometheus/serviceaccount.yaml
  scripts/shared/clusters.sh
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Fix MD lint violations
  .markdownlint.yml
  README.md
Owners: @mangelajo, @tpantelis, @Oats87

Fix MD lint violations
  .markdownlint.yml
  README.md
Owners: @mangelajo, @tpantelis, @Oats87

Deploy Prometheus
  Makefile.inc
  prometheus/bundle.yaml
  prometheus/clusterrole.yaml
  prometheus/clusterrolebinding.yaml
  prometheus/prometheus.yaml
  prometheus/serviceaccount.yaml
  scripts/shared/clusters.sh
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Install markdownlint-cli, run in verify
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/validate.sh
Owners: @mkolesnik

Add commit message validations
  .gitlint
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/validate.sh
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Bad commit
  package/foo
Owners: @mkolesnik

Good commit
  package/bar
Owners: @mkolesnik

Install markdownlint-cli, run in verify
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/validate.sh
Owners: @mkolesnik

Add commit message validations
  .github/workflows/gitlint.yaml
  .gitlint
  Makefile
  Makefile.inc
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/gitlint.sh
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Add commit message validations
  .github/workflows/gitlint.yaml
  .gitlint
  Makefile
  Makefile.inc
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/gitlint.sh
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Add link aliveness tests
  .github/ISSUE_TEMPLATE/broken-link.md
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .markdownlinkcheck.json
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Move the Prometheus descriptors so they're shared
  scripts/shared/clusters.sh
  scripts/shared/resources/prometheus/bundle.yaml
  scripts/shared/resources/prometheus/clusterrole.yaml
  scripts/shared/resources/prometheus/clusterrolebinding.yaml
  scripts/shared/resources/prometheus/prometheus.yaml
  scripts/shared/resources/prometheus/serviceaccount.yaml
Owners: @mkolesnik

Add a Prometheus test
  .github/workflows/prometheus.yaml
Owners: @mkolesnik

Show the subctl version before running it
  scripts/shared/lib/deploy_operator
Owners: @mkolesnik

Update subctl version in base image to v0.6.0-rc0
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/lib/deploy_operator
Owners: @mkolesnik

Add link aliveness tests
  .github/ISSUE_TEMPLATE/broken-link.md
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .markdownlinkcheck.json
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Update subctl version in base image to v0.6.0-rc0
  package/Dockerfile.shipyard-dapper-base
  scripts/shared/lib/deploy_operator
Owners: @mkolesnik

Add throughput pods into network_pods for benchmark tests
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87

Add a call to AwaitReady() inside throughput client pod creation
  test/e2e/framework/network_pods.go
Owners: @mangelajo, @tpantelis, @Oats87
